body {
  min-width: 300px;
}

a:not([href]) {
  color: #666 !important;
  text-decoration: none !important;
  cursor: default !important;
}

@media screen and (max-width:698px){
  .hidden-md {
    display: none;
  }
}
@media screen and (max-width:498px){
  .hidden-sm {
    display: none;
  }
}
